.draggableList ul {
  list-style: none;
  margin:0;
  margin-top: 10px;
  padding:0;
}
.draggableList li {
  margin-left: 30%;
  transition: 0.2s;
  margin-bottom: 5px;
  padding: 7px 15px;
  background:tomato;
}

.draggableList .isEnabled, .draggableList .dragging {
  background:steelblue;
}
