.loginBox {
  padding: 25px;
  background-color: #fff;
  height: 150px;
  width: 250px;
  box-shadow: 1px 1px 5px;
  margin: auto;
  margin-top: 8%;
}
.loginInput {
  width: 85%;
  margin: 5px 0px 5px 0px;
  padding: 5px 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid grey;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.loginInput:hover {
  border-bottom: 1px solid black;
}
.loginInput:hover::-webkit-input-placeholder {
  color: black;
}
.loginInput:focus {
  border-bottom: 1px solid black;
  outline: 0;
}
.loginInput:focus::-webkit-input-placeholder {
  color: black;
}
.loginButton {
  width: 90%;
  margin: 15px 0px 0px 0px;
  padding: 10px 0px;
  font-weight: bold;
  background-color: rgb(232,136,67);
  border-radius: 0px;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.loginButton:hover {
  background-color: rgb(252,157,87);
}
.loginButton:focus {
  outline: 0;
}
.signUpButton {
  width: 90%;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0px;
  border: none;
}
.signUpButton:hover {
  text-decoration: underline;
}
.signUpButton:focus {
  outline: 0;
}

.centerRow {
  width: 100%;
  text-align: center;
}
