.header {
  background-color: rgb(105,15,15);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12%;
  padding-right: 12%;
  color: white;
}
.headerButton {
  margin-top: -4px;
  float: right;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(105,15,15);
  border-color: rgb(232,136,67);
  color: rgb(232,136,67);;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.75;
  }
}
.headerTitle {
  font-size: 1em;
  margin: 0;
}
