.page {
  background-color: rgb(145,20,20);
}
.row {
  width: 100%;
}
.centerRow {
  width: 100%;
  text-align: center;
}

.header {
  background-color: rgb(105,15,15);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12%;
  padding-right: 12%;
  color: white;
}
.headerTitle {
  font-size: 1em;
  margin: 0;
}
.headerButton {
  margin-top: -4px;
  float: right;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(105,15,15);
  border-color: rgb(232,136,67);
  color: rgb(232,136,67);;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.headerButton:focus {
  outline: 0;
}
.headerButton:hover {
  opacity: 0.75;
}

.loginBox {
  padding: 25px;
  background-color: #fff;
  height: 150px;
  width: 250px;
  box-shadow: 1px 1px 5px;
  margin: auto;
  margin-top: 8%;
}
.loginInput {
  width: 85%;
  margin: 5px 0px 5px 0px;
  padding: 5px 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid grey;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.loginInput:hover {
  border-bottom: 1px solid black;
}
.loginInput:hover::-webkit-input-placeholder {
  color: black;
}
.loginInput:focus {
  border-bottom: 1px solid black;
  outline: 0;
}
.loginInput:focus::-webkit-input-placeholder {
  color: black;
}
.loginButton {
  width: 90%;
  margin: 15px 0px 0px 0px;
  padding: 10px 0px;
  font-weight: bold;
  background-color: rgb(232,136,67);
  border-radius: 0px;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.loginButton:hover {
  background-color: rgb(252,157,87);
}
.loginButton:focus {
  outline: 0;
}
.signUpButton {
  width: 90%;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0px;
  border: none;
}
.signUpButton:hover {
  text-decoration: underline;
}
.signUpButton:focus {
  outline: 0;
}

.candidateBox {
  background-color: #fff;
  height: 350px;
  width: 600px;
  box-shadow: 1px 1px 5px;
  margin: auto;
  margin-top: 6%;
}
.candidateBoxHeader {
  background-color: rgb(204,204,204);
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.candidateBoxTitle {
  font-size: 18px;
  font-weight: lighter;
}
.candidateBoxBody {
  
}
